<h1>{{pageName}}</h1>
<table id="t01" border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
        {{#if rows.length }}
        <!-- TODO: Add the template code to generate the rows for the data.
                   Use the "suppliers.hbs" file for reference. -->
	    {{#each rows }}
                <tr>
                    <td>{{this.pid}}</td>
                    <td>{{this.pname}}</td>
                    <td>{{this.color}}</td>
                </tr>
            {{/each}}
        {{else}}
            <tr><td colspan="3"><p class='lead'><em>No records were found.</em></p></td></tr>
        {{/if}}
    </tbody>
</table>
