<h1>{{pageName}}</h1>

<div >
<form class="side" action="/emp/edit" method = "get">
  <button class="side"> Add</button>
</form>
<form class="side" action="/emp/delete" method = "get">
  <button class="side">Delete</button>
</form>
</div>

<table>
  <thead>
    <tr>
      <th>Employee Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job</th>
      <th>sID</th>
    </tr>
  </thead>

  <tbody>
          {{#if rows.length }}
              {{#each rows }}
                  <tr>
                      <td>{{this.eID}}</td>
                      <td>{{this.fName}}</td>
                      <td>{{this.lName}}</td>
                      <td>{{this.job}}</td>
                      <td>{{this.sID}}</td>
                  </tr>
              {{/each}}
          {{else}}
              <tr><td colspan="3"><p class='lead'><em>No records were found.</em></p></td></tr>
          {{/if}}
      </tbody>
</table>
