<h1>{{pageName}}</h1>

<h1> Menu </h1>
<div >
<form class="side" action="/menu/edit" method = "get">
  <button class="side"> Add</button>
</form>
<form class="side" action="/menu/delete" method = "get">
  <button class="side">Delete</button>
</form>
</div>
<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Item Price</th>
      <th>sID</th>
    </tr>
  </thead>

  <tbody>
          {{#if rows.length }}
              {{#each rows }}
                  <tr>
                      <td>{{this.Item Name}}</td>
                      <td>{{this.Item Price}}</td>
                      <td>{{this.sID}}</td>
                  </tr>
              {{/each}}
          {{else}}
              <tr><td colspan="3"><p class='lead'><em>No records were found.</em></p></td></tr>
          {{/if}}
      </tbody>
</table>
