<h1>{{pageName}}</h1>
<div >
<form class="side" action="/orderlog/edit" method = "get">
  <button class="side"> Add</button>
</form>
<form class="side" action="/orderlog/delete" method = "get">
  <button class="side">Delete</button>
</form>
<!-- <form class="side" action="/orderlog/item" method = "get">
  <button class="side"> View</button>
</form> -->

<label for="view-order">Select Order:</label>

<select id="view-order">
  {{#if rows.length }}
      {{#each rows }}
            <option value = "{{this.oID}}">  {{this.oID}}</option>
      {{/each}}
  {{else}}
      <tr><td colspan="3"><p class='lead'><em>No records were found.</em></p></td></tr>
  {{/if}}
</select>



<!-- <div class="dropdown">
  <span>View Order</span>
  <div class="dropdown-content">
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
        </tr>
      </thead>

      <tbody>
              {{#if rows.length }}
                  {{#each rows }}
                      <tr>
                        <option value = "{{this.oID}}">  {{this.oID}}</option>
                      </tr>
                  {{/each}}
              {{else}}
                  <tr><td colspan="3"><p class='lead'><em>No records were found.</em></p></td></tr>
              {{/if}}
          </tbody>
    </table>
  </div>
</div> -->
</div>

<table>
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Customer Name</th>
      <th>Total Price</th>
      <th>Date</th>
      <th>sID</th>

    </tr>
  </thead>

  <tbody>
          {{#if rows.length }}
              {{#each rows }}
                  <tr>
                      <td>{{this.oID}}</td>
                      <td>{{this.customerFName}}</td>
                      <td>{{this.totalPrice}}</td>
                      <td>{{this.date}}</td>
                      <td>{{this.sID}}</td>
                  </tr>
              {{/each}}
          {{else}}
              <tr><td colspan="3"><p class='lead'><em>No records were found.</em></p></td></tr>
          {{/if}}
      </tbody>
</table>
