<h1>{{pageName}}</h1>
<div >
<form class="side" action="/storeinfo/edit" method = "get">
  <button class="side"> Add</button>
</form>
<form class="side" action="/storeinfo/delete" method = "get">
  <button class="side">Delete</button>
</form>
</div>
<table>
  <thead>
    <tr>
      <th>Store ID</th>
      <th>Street</th>
      <th>City</th>
      <th>Zip</th>
      <th>Hours</th>
    </tr>
  </thead>

  <tbody>
          {{#if rows.length }}
              {{#each rows }}
                  <tr>
                      <td>{{this.sID}}</td>
                      <td>{{this.street}}</td>
                      <td>{{this.city}}</td>
                      <td>{{this.zip}}</td>
                      <td>{{this.hours}}</td>
                  </tr>
              {{/each}}
          {{else}}
              <tr><td colspan="3"><p class='lead'><em>No records were found.</em></p></td></tr>
          {{/if}}
      </tbody>
</table>
